<div class="wrapper collection-build">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <%= form_for Collection.new do |f| %>

      <h2 id="tagline"> A Gift For My <span id="placeholder-person"><span class="placeholder-dots">...</span></span></h2>
      
      <span id="select-person" class="select-mod">
        <span class="select-hold"> <i class="icon-chevron-down"></i></span>
        
        <%= f.collection_select(:tag_ids, @person_tags, :tag_name, :tag_name, {:prompt => ""}, {:class=>"chosen-select", :id=>"person", "data-placeholder" => "person"}) %>
      </span>

      <span id="select-interest" class="select-mod">
        <span class="select-hold"><i class="icon-chevron-down"></i></span>
        <%= f.collection_select(:tag_ids, @interest_tags, :tag_name, :tag_name, {:prompt => ""}, {:class=>"chosen-select", :id=>"interest or skill", "data-placeholder" => "interest"}) %>
      </span>

      <span id="select-activity" class="select-mod">
        <span class="select-hold"><i class="icon-chevron-down"></i></span>
        <%= f.collection_select(:tag_ids, @activity_tags, :tag_name, :tag_name, {:prompt => ""}, {:class=>"chosen-select", :id=>"activity", "data-placeholder" => "activity or hobby"}) %>
      </span>

      <% end %>
    </div>

    <div class="col-sm-2"></div>
  </div>
  <button style="display:none;" id="rdy-btn" type="button" class="btn btn-primary">Go!</button>
</div>

<div style="padding-top:45px;" class="wrapper">
  <div class="cards-container">
    <div id="collection-select">
    </div>
  </div>
</div>

<script>
$(".chosen-select").chosen({disable_search_threshold: 10});

// Generate Person item
$("#select-person .chosen-select").on('change', function(evt, params) {
  //remove the first placeholder
  $('#placeholder-person .placeholder-dots').css('display', 'none');
  //append selected info
  $('#placeholder-person').append('<span class="placeholder-text">'+params.selected + '</span>');

  //append the next placeholder
  $('#tagline').append("<span class='next-interest'>, who is <span id='placeholder-interest'><span class='placeholder-dots'>...</span></span></span>");
  $('#select-person').css('display', 'none');
  $('#select-interest').css('display', 'inline-block');
});

// Change person on click
$('#placeholder-person').on('click', function(evt, params) {
  //remove the second placeholder
  $('.next-interest').remove();
  //remove the selected item
  $('#placeholder-person .placeholder-text').remove();
  //append the select box
  $('#select-person').appendTo('#tagline').css('display', 'inline-block');
});

// Generate Interest item
$("#select-interest .chosen-select").on('change', function(evt, params) {
    $('#placeholder-interest .placeholder-dots').css('display', 'none');
    $('#placeholder-interest').append('<span class="placeholder-text">'+params.selected + '</span>');

    //append the next placeholder
    $('#tagline').append("<span class='next-activity'>, and enjoys <span id='placeholder-activity'><span class='placeholder-dots'>...</span></span></span>");
    $('#select-interest').css('display', 'none');
    $('#select-activity').css('display', 'inline-block');
});

// Change interest on click using event delegation
$(document).on('click','#placeholder-interest',function(evt, params) {
  //remove the second placeholder
  $('.next-activity').remove();
  //remove the selected item
  $('#placeholder-interest .placeholder-text').remove();
  //append the select box
  $('#select-interest').appendTo('#tagline').css('display', 'inline-block');
});

// Generate activity item
$("#select-activity .chosen-select").on('change', function(evt, params) {
    $('#placeholder-activity .placeholder-dots').css('display', 'none');
    $('#placeholder-activity').append('<span class="placeholder-text">'+params.selected + '</span>');
    
    $('#tagline').append("<span class='placeholder-period'>.</span");
    $('#select-activity').css('display', 'none');
    $('#rdy-btn').css('display', 'inline');
});


// Change activity on click using event delegation
$(document).on('click','#placeholder-activity',function(evt, params) {
  //remove the selected item
  $('#placeholder-activity .placeholder-text').remove();
  $('.placeholder-period').remove();
  //append the select box
  $('#select-activity').appendTo('#tagline').css('display', 'inline-block');
});



$('#rdy-btn').on('click', function(){
  get_collections();
});

function get_collections(){
  var person = $('select#person').val();
  var interest = $('select#interest').val();
  var activity = $('select#activity').val();

$.ajax({
    url: '/collections/show',
    type: 'POST',
    dataType: 'script',
    data: {tags: [person,interest,activity]},
  }).done(function() {
  }).fail(function() {
  }).always(function() {
  });

}
</script>