<div class="wrapper collection-build">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <%= form_for Collection.new do |f| %>

      <h2 id="tagline"> A Gift For My <span id="placeholder-person">...</span></h2>
      
      <span id="select-person" class="select-mod">
        <span class="select-hold"> <i class="icon-chevron-down"></i></span>
        
        <%= f.collection_select(:tag_ids, @person_tags, :tag_name, :tag_name, {:prompt => ""}, {:class=>"chosen-select", :id=>"person", "data-placeholder" => "person"}) %>
      </span>

      <span id="select-interest" class="select-mod">
        <span class="select-hold"><i class="icon-chevron-down"></i></span>
        <%= f.collection_select(:tag_ids, @interest_tags, :tag_name, :tag_name, {:prompt => ""}, {:class=>"chosen-select", :id=>"interest or skill", "data-placeholder" => "interest"}) %>
      </span>

      <span id="select-activity" class="select-mod">
        <span class="select-hold"><i class="icon-chevron-down"></i></span>
        <%= f.collection_select(:tag_ids, @activity_tags, :tag_name, :tag_name, {:prompt => ""}, {:class=>"chosen-select", :id=>"activity", "data-placeholder" => "activity or hobby"}) %>
      </span>

      <% end %>

    </div>
    <div class="col-sm-2"> <i> </div>
  </div>
  <button style="display:none;" id="rdy-btn" type="button" class="btn btn-primary">Go!</button>
</div>

<div style="padding-top:45px;" class="wrapper">
  <div class="cards-container">
    <div id="collection-select">
    </div>
  </div>
</div>

<script>
//enable
$(".chosen-select").chosen({disable_search_threshold: 10});

$("#select-person .chosen-select").on('change', function(evt, params) {
    $('#placeholder-person').html(params.selected);
    $('#tagline').append(", who is <span id='placeholder-interest'>...</span>");
    $('#select-person').css('display', 'none');
    $('#select-interest').css('display', 'inline-block');
});

$("#select-interest .chosen-select").on('change', function(evt, params) {
    $('#placeholder-interest').html(params.selected);
    $('#tagline').append(", and enjoys <span id='placeholder-activity'>...</span>");
    $('#select-interest').css('display', 'none');
    $('#select-activity').css('display', 'inline-block');

});

$("#select-activity .chosen-select").on('change', function(evt, params) {
    $('#placeholder-activity').html(params.selected);
    $('#tagline').append(".");
    $('#select-activity').css('display', 'none');

    $('#rdy-btn').css('display', 'inline');

});

$('#rdy-btn').on('click', function(){
  get_collections();
});

function get_collections(){
  var person = $('select#person').val();
  var interest = $('select#interest').val();
  var activity = $('select#activity').val();

$.ajax({
    url: '/collections/show',
    type: 'POST',
    dataType: 'script',
    data: {tags: [person,interest,activity]},
  }).done(function() {
  }).fail(function() {
  }).always(function() {
  });

}
</script>