<div class="wrapper">

  <div class="cards-container ready">
    <div class="CollectionGrid-container">
      <div class="CollectionGrid">

        <% @collections.each do |collection| %>

        <%= link_to collection_path(collection), :class =>"CollectionGrid-tile hover-overlay-light" do%>

          <div class="CollectionGrid-tileImage align-center" style="background-image: url(<%= collection.image%>)"></div>
          <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;"><%= collection.collection_name %></div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="InfiniteScrollFooter">
    <div class="InfiniteScrollFooter-signature"></div>
  </div>
</div>
