	<%= render 'products/product_nav' %>

	<div>
		<div class="wrapper">
			<div class="cards-container ready">
				<div id="tiles">
					<%= render 'products/product_tile' %>

<div id="infinite-scrolling">
  <%= will_paginate @products%>
</div>
