<div class="CalloutMessage">
              <a href="" onclick="closeCallout(this);" class="button Button--Dark">
                <span class="close-button-base"></span>
              </a>
  <h3 style="color:white;"> A perfect way to give a gift
</h3>
<span style="font-size:16px;">The best products from Amazon and Overstock.co</span>


</div>

<%= render 'products/product_list' %>