<div class="SignupMessage">
  <h3 style="color:white;"> A perfect way to give a gift
</h3>
<span style="font-size:16px;">The best products from Amazon and Overstock.co</span>
</div>

<%= render 'products/product_list' %>