<footer>
	<div class="wrapper">
		<div class="footer-proper">


			<div style="padding-top:48" class="row">
				<div class="col-sm-6">
					<h4 class="tagline">Find the best gifts, <br> From the best online retailers.</h4>
				</div>
				
				<div style="margin-top:48px;text-align:right;" class="col-sm-6">
					<div class="links">
						<a class=" " href="https://provisioner.co/about"><span>About</span></a>
						<a class=" " href="/terms"><span>Terms</span></a>
						<a class=" " href="/privacy"><span>Privacy</span></a>
						<a class=" " href="/add-products"><span>Add products</span></a>
						<a class=" " href="https://provisioner.co/press"><span>Press</span></a>
						<a href="mailto:hello@provisioner.co">Send&nbsp;feedback</a>

					</div>
				</div>
			</div>

			<div class="text-center small-text">
				<p>
					Provisioner is an independent company. Amazon, Target, and O.co are trademarked brands.
					<br>
					©2017
					Provisioner.co. All rights reserved.
				</p>
			</div>



<!--<div class="footer-social-links">
	<a target="_blank" class="footer-twitter-link" href="http://twitter.com/provisioner">Twitter</a>
	<a target="_blank" class="footer-instagram-link" href="https://instagram.com/provisioner">Instagram</a>
	<a target="_blank" class="footer-facebook-link" href="https://www.facebook.com/provisioner">Facebook</a>
</div>-->
		</div>
	</div>
</footer>